*{
    margin:0;
    box-sizing:border-box ;
}
nav{
    width:100%;
    background-image: url(img/image-hero.jpg) ;
    display:flex;
}
.outernav{
    display:flex;
    flex-direction:column ;
}
nav p{
    color:white;
}